.section-middle {
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
}

.section-middle-title {
  margin: 40px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    var(--unnamed-font-size-26) / var(--unnamed-line-spacing-30)
    var(--unnamed-font-family-roboto);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-2d5676);
  text-align: center;
  font: normal normal bold 26px/30px Roboto;
  letter-spacing: 0px;
  color: #2d5676;
  opacity: 1;
}

.section-middle-bloquote {
  margin: 10px;
}
.section-middle-bloquote-title {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    20px/24px var(--unnamed-font-family-roboto);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-2988b5);
  text-align: left;
  font: normal normal bold 20px/24px Roboto;
  letter-spacing: 0px;
  color: #2988b5;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: start;
}

.section-middle-bloquote-paragraph {
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) var(--unnamed-font-size-18) /
    var(--unnamed-line-spacing-21) var(--unnamed-font-family-roboto);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal normal 18px/21px Roboto;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
}
.section-middle-bloquote-number {
  width: 32px !important;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #ebf6fa;
  opacity: 1;
  margin-right: 5px;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.section-middle-btn {
  margin-left: 20px;
  margin: 20px;
  width: 306px;
  height: 48px;
  background: var(--unnamed-color-e2173d) 0% 0% no-repeat padding-box;
  background: #e2173d 0% 0% no-repeat padding-box;
  border-radius: 4px;
  opacity: 1;
}
.section-middle-btn-label {
  width: 160px;
  height: 21px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    var(--unnamed-font-size-18) / var(--unnamed-line-spacing-21)
    var(--unnamed-font-family-roboto);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-ffffff);
  text-align: center;
  font: normal normal bold 18px/21px Roboto;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

.grid-middle {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}

@media (min-width: 300px) and (max-width: 787px) {
  .grid-middle {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
}
